<div class="container-fluid">
 <h2>Registration Form</h2> 

 {{RegistrationForm.value.userName}}
 <form [formGroup]="RegistrationForm" (ngSubmit)="onsubmit()">
 <div class="form-group">
   <label>Username</label>
   <input [class.validation]="RegistrationForm.get('userName')?.invalid && RegistrationForm.get('userName')?.touched" type="text" formControlName="userName" class="form-control">
<div *ngIf="f.userName.errors && submitted">
  <small *ngIf="f.userName.errors.required" class="text-danger">Username is required</small>
  <small *ngIf="f.userName.errors.minlength" class="text-danger">Username should be 4 characters long</small>
<!-- <small *ngIf="RegistrationForm.get('userName').errors?.forbiddenName" class="text-danger">{{RegistrationForm.get.('userName').errors?.forbiddenName.value}} Username should be of minimum length atleast</small>
*ngIf="RegistrationForm.controls['userName'].errors?.required"-->
</div><br>
<div class="form-group m-3">
  <label> Email</label>&nbsp;  <button class="btn btn-secondary m-4" (click)="addAlternateEmails()">Add more email</button>&nbsp;
 
  <input  type="text" formControlName="email" class="form-control">
  <small *ngIf="f.email.invalid && f.email?.touched && f.subscribe.touched || submitted" class="text-danger">email is required in email format with @ only</small>
 <div formArrayName="alternateEmails"  *ngFor="let e of alternateEmails.controls; let i=index">
  <input type="text" class="form-control my-1"  [formControlName]="i"><button (click)="removeAlternateEmails(i)">delete</button>

</div> 

</div>
<div  class="form-check mb-3">

  <input class="form-check-input" formControlName="subscribe" type="checkbox">
  <label class="form-check-label"> Send me promotional offers</label>
</div>
 </div>
  <div class="form-group">
  <label>password</label>
  <input formControlName="password" type="password" class="form-control">
  <small *ngIf="f.password.invalid && f.password.touched || submitted" class="text-danger">password should be 12 charac. with uppercase, lowercase, special charac. & numbers </small>

</div> 
<div class="form-group">
  <label>Confirm Password</label>
  <input [class.is-invalid]="RegistrationForm.errors?.mismatch" formControlName="confirmPassword" type="password" class="form-control" >
  <small *ngIf="(!(f.confirmPassword.value===f.password.value)) && f.confirmPassword.touched || submitted" class="text-danger">password should be same as above password. </small>


</div>

  <div class="form-group" >
    <label>
      State
    </label>
 
                                       


  <input type="text" formControlName="state" class="form-control">
  <small *ngIf="f.state.invalid && f.state.touched || submitted" class="text-danger">State should should first capitalised</small>
  </div>
  <div class="form-group">
    <label>
    City
    </label>
  
  <input type="text" formControlName="city"class="form-control">
  <small *ngIf="f.city.invalid && f.city.touched || submitted" class="text-danger">City should be first capitalised</small>
  </div>
  <div class="form-group" >
    <label>
      Postal code
    </label>
  
  <input type="number" formControlName="postalCode" class="form-control">
  <small *ngIf="f.postalCode?.invalid && f.postalCode.touched || submitted" class="text-danger">Postal should be numeral</small>
  </div>
<div class="form-group">
  <input type="file" formControlName="file" (change)="onFileChange($event)" multiple="false">
<table>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let cell of row">
        {{cell}}
      </td>
    </tr>
  </tbody>
</table>
</div>
 <br>
<div class="form-group">
<button (click)="onsubmit()"  class="btn btn-primary" type="submit">Register</button>
<br>
<br>

 <!--  <small *ngIf="f.invalid" class="text-danger">Fill in the required field</small>--> 
</div>
 </form>

</div>
<h1>HTTP SERVICE FETCHED</h1>
<ul *ngFor="let u of user">
  <li>{{u.id}}--{{u.name}}--{{u.address.zipcode}}</li>
</ul>
